header {
    background-color: rgba(186, 186, 186, 0.5);
}

.logo {
	max-height: 10vh;
	padding-top: 2rem;
	border-radius: 15%;
}

h1 {
	color: white;
	font-size: 5rem;
    font-weight: 500;
	padding: 2rem;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}
