.SearchBarBox {
	padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SearchBox {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  margin-right: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  height: 30px;
  width: 14rem;
}

.SearchInput {
  font-family: var(--text-font);
  color: #767676;
  border: none;
  height: 20px;
  width: 12rem;
}

.Loupe {
	height: 16px;
	width: auto;
	margin-right: 0.5rem;
	margin-top: 0,5rem;
	padding: 0;
}

.SearchButton {
  border: none;
  background-color: #fff;
  margin-top: 0.1em;
}

.SearchButton:hover {
  cursor: pointer;
}

.Filter {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.192);
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
  transition: all 0.3s;
  margin-left: 1rem;
  border: 1px solid #fff;
  background-color: #fff;
}

.Filter img {
  height: 16px;
  fill: rgb(77, 77, 77);
  transition: all 0.3s;
}
.Filter:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.11);
  background-color: grey;
  border: grey;
}
.Filter:hover img {
  fill: white;
}