@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Raleway+Dots&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway+Dots&family=Sacramento&display=swap');

#root {
  max-width: 720px;
  text-align: center;
	--title-font: "Sacramento";
  --text-font: "Montserrat";
  --color-green: #627353;
  background-color: #F6F4E9;
}

h1, h2, h6 {
  font-family: var(--title-font);
}

p {
  font-family: var(--text-font);
}

h3 {
  font-family: var(--text-font);
  font-weight: 700;
}

.Search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.Patterns {
  display : flex; 
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
  gap: 2rem;
}